<section class="guildline">
  <div class="guildline-congratulation__box-1">
    <img
      src="./assets/img/tht1.png"
      alt="congratulations image"
      class="guildline-congratulation__img"
    />
  </div>

  <p class="guildline__heading t-center d-block my-small">
    {{ "congrate" | translate }}
  </p>

  <span class="guildline__span">
    {{ "downloadGuideline" | translate }}
  </span>

  <a
    href="#0"
    class="guildline__link"
    data-translate="_clickDownload"
    (click)="getGuideline($event)"
  >
    {{ "clickToDownLoad" | translate }}
  </a>

  <button type="button" class="btn btn--green" (click)="back()">
    &larr; {{ "previous" | translate }}
  </button>

  <div class="guildline-congratulation__box-2">
    <img
      src="./assets/img/tv1-1.png"
      alt="congratulations image"
      class="guildline-congratulation__img"
    />
  </div>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>

</section>
