<div class="main-content">
  <div class="main-content__bg-1 mouse-effect" data-speed="-5"></div>
  <div class="main-content__bg-2 mouse-effect" data-speed="5"></div>
  <div class="main-content__bg-3 mouse-effect" data-speed="2"></div>
  <div class="main-content__bg-4 mouse-effect" data-speed="6"></div>
  <div class="main-content__bg-5 mouse-effect" data-speed="8"></div>
  <div class="main-content__bg-6 mouse-effect" data-speed="-2"></div>
  <div class="main-content__bg-7 mouse-effect" data-speed="-4"></div>
  <div class="main-content__bg-8 mouse-effect" data-speed="-9"></div>
  <div class="main-content__bg-9 mouse-effect" data-speed="-6"></div>
  <div class="main-content__bg-10 mouse-effect" data-speed="-7"></div>
  <section class="section section-guildline">
    <div class="heading-primary">
      <span *ngIf="newContract">{{ "newContract" | translate }}</span>
      <span *ngIf="!newContract">{{ "yourContract" | translate }}</span>
    </div>
    <div class="guildline-box">
      <div class="guildline-content">
        <p class="guildline-content__heading">
          {{ "fillInfor" | translate }}
        </p>
        <form
          action=""
          [formGroup]="companyForm"
          (ngSubmit)="submit()"
          class="guildline-form"
        >
          <div class="form__group">
            <input
              type="text"
              class="form__input"
              id="companyName"
              placeholder="{{ 'companyName' | translate }}"
              formControlName="companyName"
              required
            />
          </div>

          <div class="form__group">
            <input
              type="text"
              class="form__input"
              id="address"
              placeholder="{{ 'address' | translate }}"
              formControlName="address"
              required
            />
          </div>

          <div class="form__group">
            <input
              type="text"
              class="form__input"
              id="picName"
              placeholder="{{ 'name' | translate }}"
              formControlName="picName"
              required
            />
          </div>

          <div class="form__group">
            <input
              type="tel"
              class="form__input"
              id="picPhone"
              placeholder="{{ 'phone' | translate }}"
              formControlName="picPhone"
              required
            />
          </div>
          <div class="form__group">
            <input
              type="email"
              class="form__input"
              id="picMail"
              placeholder="{{ 'email' | translate }}"
              formControlName="email"
              required
            />
          </div>
          <div class="form__group">
            <input
              type="text"
              class="form__input"
              id="domainKintone"
              formControlName="domainKintone"
              placeholder="{{ 'domainKintone' | translate }}"
              required
            />
          </div>
          <div class="form__group form__radio">
            <span class="form__group--heading">
              {{ "choiceLang" | translate }}
            </span>
            <div class="form__radio--group">
              <div class="form__radio--item">
                <input
                  type="radio"
                  name="language"
                  formControlName="language"
                  id="lang1"
                  value="JP/EN"
                  class="form__radio--input"
                />
                <label for="lang1" class="form__radio--label" [ngClass]="newContract? 'form__radio--label--hover':''">
                  日本語 / English
                </label>
              </div>
              <div class="form__radio--item">
                <input
                  type="radio"
                  name="language"
                  formControlName="language"
                  id="lang2"
                  value="EN/JP"
                  class="form__radio--input"
                />
                <label for="lang2" class="form__radio--label" [ngClass]="newContract? 'form__radio--label--hover':''">
                  English / 日本語
                </label>
              </div>
              <div class="form__radio--item">
                <input
                  type="radio"
                  name="language"
                  formControlName="language"
                  id="lang3"
                  value="JP/VN"
                  class="form__radio--input"
                />
                <label for="lang3" class="form__radio--label" [ngClass]="newContract? 'form__radio--label--hover':''">
                  日本語 / Tiếng Việt
                </label>
              </div>
              <div class="form__radio--item">
                <input
                  type="radio"
                  name="language"
                  formControlName="language"
                  id="lang4"
                  value="EN/VN"
                  class="form__radio--input"
                />
                <label for="lang4" class="form__radio--label" [ngClass]="newContract? 'form__radio--label--hover':''">
                  English / Tiếng Việt
                </label>
              </div>
              <div class="form__radio--item">
                <input
                  type="radio"
                  name="language"
                  formControlName="language"
                  id="lang5"
                  value="EN/JP/VN"
                  class="form__radio--input"
                />
                <label for="lang5" class="form__radio--label" [ngClass]="newContract? 'form__radio--label--hover':''">
                  English / 日本語 / Tiếng Việt
                </label>
              </div>
            </div>
          </div>
          <div class="btn--group">
            <button type="submit" class="btn btn--primary btn--next">
              {{ "next" | translate }} &rarr;
            </button>
          </div>
        </form>
        <div class="guildline-attention">
          <span class="guildline-attention__heading">
            {{ "noitice" | translate }}
          </span>
          <span class="guildline-attention__content">
            {{ "needHelp" | translate }}
          </span>
        </div>
	<div class="footer">
          <div class="footer__left">
            <div class="footer__item">
              <span class="footer__heading"> Email: </span>
              <a href="mailto:ivskinkan@indivisys.jp" class="footer__link">
                ivskinkan@indivisys.jp
              </a>
            </div>
            <div class="footer__item">
              <span class="footer__heading"> Phone: </span>
              <a href="tel:+123456789" class="footer__link"> 0123456789 </a>
            </div>
          </div>
          <p class="copyright">
            <span class="footer__heading">
              <span style="font-size: 2rem; font-weight: 700">&copy;</span>
              Copyright 2021 by
            </span>
            <a href="https://ivskinkan.com" class="footer__link"> ivskinkan. </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="main-content__bg-big">
    <img src="./assets/img/Background/plane.png" alt="background big" />
  </div>
</div>
