<section class="guildline">
  <h3 class="heading-secondary">
    {{ "settingChatbot" | translate }}
  </h3>

  <div class="guildline__paragraph">
    <span class="guildline__paragraph--heading">
      {{ "doStepBelow" | translate }}
    </span>

    <ul class="guildline__step--list">
      <li class="guildline__step--item">
        1.
        <span data-translate="_clickhere"></span>
        <a
          href="https://www.chatwork.com/service/packages/chatwork/subpackages/api/token.php"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="guildline__link"
        >
          {{ "clickHere" | translate }}
        </a>

        <span class="guildline__span">
          {{ "loginCw" | translate }}
        </span>

        <span class="guildline__span">
          {{ "enterPw" | translate }}
        </span>

        <span class="guildline__span">
          {{ "noteAPI" | translate }}
        </span>
      </li>

      <li class="guildline__step--item">
        <form [formGroup]="chatbotForm">
          <span> 2. {{ "enterAPI" | translate }} </span>

          <input
            formControlName="chatbotToken"
            type="text"
            class="form__input"
            style="width: 30rem; padding-left: 20px"
            placeholder="API"
            required
          />
        </form>
      </li>

      <li class="guildline__step--item">
        3.
        <a
          href="https://www.chatwork.com/service/packages/chatwork/subpackages/webhook/list.php"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="guildline__link"
        >
          {{ "clickHere" | translate }}
        </a>

        <span class="guildline__span">
          {{ "fillBotInfor" | translate }}
        </span>

        <span class="guildline__span">
          <b>Webhook Name</b>: {{ "optional" | translate }}
        </span>

        <span class="guildline__span">
          <b>Webhook URL</b>: {{ "URL" | translate }}
        </span>

        <span class="guildline__span">
          <b>Event: Account Event</b>
        </span>

        <span class="guildline__span"> {{ "clickCreate" | translate }}</span>
      </li>
    </ul>
  </div>

  <div>
    <div class="btn--group">
      <button type="button" class="btn btn--prev" (click)="back()">
        &larr; {{ "previous" | translate }}
      </button>
      <button type="button" class="btn btn--next" (click)="next()">
        <span>{{ "done" | translate }}</span>
        <svg class="guildline-done__icon">
          <use xlink:href="./assets/img/checkmark.svg#icon-checkmark"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>
</section>
