<section class="guildline">
  <h3 class="heading-secondary" data-translate="_downloadAndInstall">
    {{ "downloadAndInstall" | translate }}
  </h3>

  <div class="guildline__paragraph">
    <p class="guildline__paragraph--heading">
      <span class="guildline__span" data-translate="_downloadTemplate">
        {{ "downLoadTemplate" | translate }}
      </span>
      <span class="guildline__span" data-translate="_installInstructions">
        {{ "installOnKintone" | translate }}
      </span>
    </p>

    <a
      href="#0"
      class="guildline__link"
      data-translate="_clickDownload"
      (click)="getPackage($event)"
    >
      {{ "clickToDownLoad" | translate }}
    </a>

    <ul class="guildline__step--list">
      <li class="guildline__step--item">
        <span
          class="guildline__span guildline__step--heading"
          data-translate="_step1of1of1"
        >
          1. {{ "appTemplate" | translate }}
        </span>
        <span
          class="guildline__span guildline__span-2"
          data-translate="_step1of1of2"
        >
          {{ "importKinkan" | translate }}
        </span>
        <img
          src="./assets/img/Gif/import_jsEdit.gif"
          alt="guildline step"
          class="guildline__gif"
        />
      </li>

      <li class="guildline__step--item">
        <span
          class="guildline__span guildline__step--heading"
          data-translate="_step1of1of1"
        >
          1. {{ "appTemplate" | translate }}
        </span>
        <span
          class="guildline__span guildline__span-2"
          data-translate="_step1of1of2"
        >
          {{ "importKinkan" | translate }}
        </span>
        <img
          src="./assets/img/Gif/impot_template.gif"
          alt="guildline step"
          class="guildline__gif"
        />
      </li>

      <li class="guildline__step--item">
        <span class="guildline__step--left">
          <span
            class="guildline__span guildline__step--heading"
            data-translate="_step1of2of1"
          >
            2. {{ "createAppPage" | translate }}
          </span>
          <span
            class="guildline__span guildline__span-2"
            data-translate="_step1of2of2"
          >
            {{ "choiceTemplate" | translate }}
          </span>
        </span>
        <span class="guildline__step--right">
          <img
            src="./assets/img/Gif/create_app.gif"
            alt="guildline step"
            class="guildline__gif"
          />
        </span>
      </li>

      <li class="guildline__step--item">
        <span
          class="guildline__span guildline__step--heading"
          data-translate="_step1of3of1"
        >
          3. {{ "appManagement" | translate }}
        </span>
        <span
          class="guildline__span guildline__span-2"
          data-translate="_step1of3of2"
        >
          {{ "appSetting" | translate }}
        </span>
        <span
          class="guildline__span guildline__span-2"
          data-translate="_step1of3of3"
        >
          {{ "generateToken" | translate }}
        </span>
        <img
          src="./assets/img/Gif/get_api.gif"
          alt="guildline step"
          class="guildline__gif"
        />
      </li>
    </ul>
  </div>

  <div>
    <div class="btn--group">
      <button type="button" class="btn btn--primary btn--next" (click)="next()">
        <span data-translate="_next"> {{ "next" | translate }} &rarr; </span>
      </button>
    </div>
  </div>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>
</section>
