<div class="main-content">
    <div class="main-content__bg-1"></div>
    <div class="main-content__bg-2"></div>
    <div class="main-content__bg-3"></div>
    <div class="main-content__bg-4"></div>
    <div class="main-content__bg-5"></div>
    <div class="main-content__bg-6"></div>
    <div class="main-content__bg-7"></div>
    <div class="main-content__bg-8"></div>
    <div class="main-content__bg-9"></div>
    <div class="main-content__bg-10"></div>
    <section class="section section-guildline">
        <div class="heading-primary">
            <span>New contract</span>
        </div>

        <div class="guildline-box">
            <div class="guildline-content">
                <p
                    class="guildline-content__heading"
                    data-translate="_downloadAndInstall"
                >
                    Tải xuống và cài đặt
                </p>

                <div class="guildline-content__paragraph">
                    <p
                        class="guildline-content__paragraph--heading"
                    >
                        <span
                            class="guildline-content__span"
                            data-translate="_downloadTemplate"
                        >
                            Vui lòng tải xuống gói template bên
                            dưới.
                        </span>
                        <span
                            class="guildline-content__span"
                            data-translate="_installInstructions"
                        >
                            Sau đó cài đặt vào kintone theo
                            hướng dẫn dưới đây
                        </span>
                    </p>
                    <a
                        href="#0"
                        class="guildline-content__link"
                        data-translate="_clickDownload"
                    >
                        Nhấn vào đây để tải xuống
                    </a>
                    <ul class="guildline-content__step--list">
                        <li
                            class="guildline-content__step--item"
                        >
                            <span
                                class="guildline-content__span guildline-content__step--heading"
                                data-translate="_step1of1of1"
                            >
                                1. Vào trang kintone
                                Administration -> App Templates.
                            </span>
                            <span
                                class="guildline-content__span guildline-content__span-2"
                                data-translate="_step1of1of2"
                            >
                                Import gói Kinkan mà bạn vừa tải
                                xuống
                            </span>
                            <img
                                src="./assets/img/Gif/impot_template.gif"
                                alt="guildline step"
                                class="guildline__gif"
                            />
                        </li>
                        <li
                            class="guildline-content__step--item"
                        >
                            <span
                                class="guildline-content__step--left"
                            >
                                <span
                                    class="guildline-content__span guildline-content__step--heading"
                                    data-translate="_step1of2of1"
                                >
                                    2. Vào trang tạo App.
                                </span>
                                <span
                                    class="guildline-content__span guildline-content__span-2"
                                    data-translate="_step1of2of2"
                                >
                                    Chọn template Kinkan vừa mới
                                    import
                                </span>
                            </span>
                            <span
                                class="guildline-content__step--right"
                            >
                                <img
                                    src="./assets/img/Gif/create_app.gif"
                                    alt="guildline step"
                                    class="guildline__gif"
                                />
                            </span>
                        </li>
                        <li
                            class="guildline-content__step--item"
                        >
                            <span
                                class="guildline-content__span guildline-content__step--heading"
                                data-translate="_step1of3of1"
                            >
                                3. Vào trang kintone
                                Administration -> App
                                Management.
                            </span>
                            <span
                                class="guildline-content__span guildline-content__span-2"
                                data-translate="_step1of3of2"
                            >
                                Nhấn vào nút cài đặt của từng
                                App, chyển qua tab App Settings
                                -> API Token
                            </span>
                            <span
                                class="guildline-content__span guildline-content__span-2"
                                data-translate="_step1of3of3"
                            >
                                Nhấn Generate,ghi chú lại API
                                Token vừa tạo ra, sau đó nhấn
                                Save, Update App
                            </span>
                            <img
                                src="./assets/img/Gif/get_api.gif"
                                alt="guildline step"
                                class="guildline__gif"
                            />
                        </li>
                    </ul>
                </div>

                <div>
                    <div class="btn--group">
                        <button
                            type="button"
                            class="btn btn--primary btn--next"
                            (click) = "next()"
                        >
                            <span data-translate="_next">
                                Tiếp tục &rarr;
                            </span>

                        </button>
                    </div>
                </div>

                <div class="guildline-attention">
                    <span
                        class="guildline-attention__heading"
                        data-translate="_note"
                    >
                        Lưu ý:
                    </span>
                    <span
                        class="guildline-attention__content"
                        data-translate="_noteContent"
                    >
                        Nếu cần hỗ trợ, vui lòng liên hệ bộ phận
                        chăm sóc khách hàng của công ty
                    </span>
                </div>
            </div>
        </div>
    </section>
    <div class="main-content__bg-big">
        <img
            src="./assets/img/Background/plane.png"
            alt="background big"
        />
    </div>
</div>
