.user__box {
  position: relative;
}
.user {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: 3rem;
  margin-bottom: 1rem;

  box-shadow: 0 .8rem 3rem rgba(0, 0, 0, 0.3);

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.btn__login,
.btn__logout {
  padding: 0.8rem 4rem;
  background: linear-gradient(to right, #ef1540, #f3758e);
  border-radius: 5px;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn__logout {
  margin: 1rem auto 0;
}
.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 100%;
  transition: all 0.5s;
}
.sp-menu.on {
  left: 0;
}
.sp-menu__overlay {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
.modal {
  padding: 2rem 1rem;
  position: absolute;
  right: -6%;
  top: 12%;
  transform: translateX(-50%);

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1rem 2rem rgba(#000, 0.5);

  width: 24rem;
  text-align: center;

  &__user-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1rem;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    font-size: 1.9rem;
    font-weight: 600;
    color: currentColor;
    display: block;
    color: #777;
  }

  &__user-position {
    font-size: 1.7rem;
    font-weight: 400;
    color: currentColor;
    display: block;
    color: #777;
    margin-top: -0.6rem;
    text-align: left;
  }

  &__img-box {
    width: 4rem;
    height: 4rem;

    margin-left: 2rem;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  &__changePass {
    margin: 1rem 0;
    transition: all 0.25s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #e7516f;
      margin-right: 0.8rem;
    }

    &-heading {
      font-size: 1.7rem;
      color: #777;
      transition: all 0.25s;
    }

    &:active &-heading {
      color: #e7516f;
    }
  }

  &.hide{
    top: 10rem;
    opacity: 0;
    visibility: hidden;
  }
}
