<header class="header">
  <div class="header-menu">
    <div class="header__logo-box">
      <img
        src="./assets/img/kinkan-logo.png"
        alt="trillo logo"
        class="header__logo"
        title="logo kinkan"
      />
    </div>
    <div class="header-heading">
      <div
        [routerLink]="['/company-infor/fill']"
        class="header-heading__link"
        title="New Contract"
      >
        <svg class="header-heading__icon">
          <use xlink:href="./assets/img/defs.svg#icon-open-book"></use>
        </svg>
        <span *ngIf="!userService.user" class="header-heading__text"
          >{{ "newContract" | translate }}
        </span>
        <span *ngIf="userService.user" class="header-heading__text"
          >{{ "yourContract" | translate }}
        </span>
      </div>
    </div>
  </div>

  <div class="header--box__left">
    <div class="header__language-box">
      <div class="header__language-parent">
        <div class="custom-select icon-imgs">
          <ng-select
            [items]="multiLang"
            bindLabel="lang"
            (change)="changeLeagueOwner()"
            bindValue="code"
            [clearable]="false"
            [searchable]="false"
            class="multiLang"
            [(ngModel)]="selectedCityName"
          >
            <ng-template ng-label-tmp let-item="item">
              <img class="img-lang" [src]="item.imgLang" />
              <b>{{ item.lang }}</b>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <img class="img-lang" [src]="item.imgLang" />
              <b>{{ item.lang }}</b>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="user__box" *ngIf="userService.user">
      <div class="user" (click)="userService.isShow = true">
        <img
          src="./assets/images/profile.svg"
          alt="user image"
          class="user__img"
        />
      </div>
      <div class="sp-menu" [ngClass]="userService.isShow ? 'on' : ''">
        <div
          class="sp-menu__overlay"
          (click)="userService.isShow = false"
        ></div>
        <div class="modal">
          <div class="modal__user-box">
            <div class="modal__user-info">
              <span class="modal__user-name">{{ userLogin?.pic_name }} </span>
            </div>
            <div class="modal__img-box">
              <img
                src="./assets/images/profile.svg"
                alt="user img"
                class="modal__img"
                title="user image"
              />
            </div>
          </div>

          <a href="#0" class="modal__changePass">
            <svg class="modal__changePass-icon">
              <use
                xlink:href="./assets/img/symbol-defs.svg#icon-sound-mix"
              ></use>
            </svg>
            <span class="modal__changePass-heading">
              {{ "changePw" | translate }}
            </span>
          </a>

          <button class="btn btn__logout" (click)="logOut()">
            {{ "logout" | translate }}
          </button>
        </div>
      </div>
    </div>

    <button
      class="btn btn__login"
      *ngIf="!userService.user"
      routerLink="/login"
    >
      {{ "login" | translate }}
    </button>
  </div>
</header>
