<section class="guildline">
  <h3 class="heading-secondary">
    {{ "fillApp" | translate }}
  </h3>

  <form [formGroup]="configForm" (ngSubmit)="submit()" class="guildline-form">
    <div class="form-flex__wrapper">
      <span class="form__title"> 社員マスタ/Staff Master </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="staffMasterID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="staffMasterToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 休日管理/Holiday Master </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="holidayMasterID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="holidayMasterToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 残業マスタ/OT Master </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="OTMasterID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>
        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="OTMasterToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 部門マスタ/Department Master </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="departmentMasterID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="departmentMasterToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 通知マスタ/Notification Master </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="notificationMasterID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="notificationMasterToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 残業管理/OT Management </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="OTManagementID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="OTManagementToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 休日管理/Holiday Management </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="holidayManagementID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="holidayManagementToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-flex__wrapper">
      <span class="form__title"> 勤怠管理/Attendance Management </span>

      <div class="form-flex">
        <div class="form__group app_id">
          <input
            type="number"
            class="form__input"
            formControlName="attendanceManagementID"
            placeholder=" {{ 'appID' | translate }}"
            required
          />
        </div>

        <div class="form__group app_token">
          <input
            type="text"
            class="form__input"
            formControlName="attendanceManagementToken"
            placeholder=" {{ 'appApiToken' | translate }}"
            required
          />
        </div>
      </div>
    </div>

    <div class="btn--group">
      <button type="button" class="btn btn--prev" (click)="back()">
        &larr; {{ "previous" | translate }}
      </button>
      <button type="submit" class="btn btn--primary btn--next">
        {{ "next" | translate }} &rarr;
      </button>
    </div>
  </form>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>
</section>
