<section class="guildline">
  <h3 class="heading-secondary">
    {{ "updated" | translate }}
  </h3>

  <div class="guildline-congratulation__box-4">
    <img
      src="./assets/img/success-done.jpg"
      alt="congratulations image"
      class="guildline-congratulation__img"
    />
  </div>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>
</section>
