<div class="main-content">
    <div class="main-content__bg-1"></div>
    <div class="main-content__bg-2"></div>
    <div class="main-content__bg-3"></div>
    <div class="main-content__bg-4"></div>
    <div class="main-content__bg-5"></div>
    <div class="main-content__bg-6"></div>
    <div class="main-content__bg-7"></div>
    <div class="main-content__bg-8"></div>
    <div class="main-content__bg-9"></div>
    <div class="main-content__bg-10"></div>
    <section class="section section-guildline">
      <div class="heading-primary">
        <span>New contract</span>
      </div>
  
      <div class="guildline-box">
  
        <div class="guildline-content">
          <p class="guildline-content__heading">Vui lòng chờ trong vài phút</p>
  
          <div class="guildline-content__paragraph">
            <span class="guildline-content__span">
              Yêu cầu của bạn đã được gửi tới công ty của chúng tôi
            </span>
            <span class="guildline-content__span">
              Yêu cầu này sẽ được gởi tới bộ phận hợp đồng
            </span>
            <span class="guildline-content__span">
              Chúng tôi kiểm tra và gởi mail để kích hoạt hợp đồng cho bạn.
            </span>
            <span class="guildline-content__span">
              Vui lòng kiểm tra mail thường xuyên(Có thể nó nằm trong hòm thư
              spam)
            </span>
          </div>
  
          <div>
            <div class="btn--group">
              <button type="button" class="btn btn--prev" (click)="back()">&larr; Quay lại</button>
            </div>
          </div>
  
          <div class="guildline-attention">
            <span class="guildline-attention__heading"> Lưu ý: </span>
            <span class="guildline-attention__content">
              Nếu cần hỗ trợ, vui lòng liên hệ bộ phận chăm sóc khách hàng của
              công ty
            </span>
          </div>
        </div>
      </div>
    </section>
    <div class="main-content__bg-big">
      <img src="./assets/img/Background/plane.png" alt="background big" />
    </div>
  </div>
  