<section class="guildline">
  <div class="guildline-congratulation__box-3">
    <img
      src="./assets/img/tht5.png"
      alt="congratulations image"
      class="guildline-congratulation__img"
    />
  </div>
  <p class="guildline__heading t-center d-block mt-small">
    {{ "pleaseWait" | translate }}
  </p>
  <div class="guildline__paragraph mb-small">
    <span class="guildline__span">
      {{ "requestSent" | translate }}
    </span>
    <span class="guildline__span">
      {{ "sentToContractDepartment" | translate }}
    </span>
    <span class="guildline__span">
      {{ "sendMail" | translate }}
    </span>
    <span class="guildline__span">
      {{ "checkMail" | translate }}
    </span>
  </div>
  <button type="button" class="btn btn--green" (click)="back()">
    &larr; {{ "previous" | translate }}
  </button>

  <div class="guildline-attention">
    <span class="guildline-attention__heading">
      {{ "noitice" | translate }}
    </span>
    <span class="guildline-attention__content">
      {{ "needHelp" | translate }}
    </span>
  </div>
</section>
