<footer class="footer" id="footer">
  <div class="footer__left">
    <div class="footer__item">
      <span class="footer__heading"> Email: </span>
      <a href="mailto:ivskinkan@indivisys.jp" class="footer__link">
        ivskinkan@indivisys.jp
      </a>
    </div>
    <div class="footer__item">
      <span class="footer__heading"> Phone: </span>
      <a href="tel:+123456789" class="footer__link"> 0123456789 </a>
    </div>
  </div>
  <p class="copyright">
    <span class="footer__heading">
      <span style="font-size: 2rem; font-weight: 700">&copy;</span>
      Copyright 2021 by
    </span>
    <a href="https://ivskinkan.com" class="footer__link"> ivskinkan. </a>
  </p>
</footer>
